*{
    margin: 0;
    padding: 0;
}
:root{
    --navbar-height:30px;
}
#navbar{
    display: flex;
    align-items: center;
}

#logo{
    margin: 10px 34px;
}
#logo img{
    margin: 3px 6px;
    height: 59px;
    border-radius: 50%;
}
#navbar{
    position: relative
}

#navbar ul{
    display: flex;
    font-family: 'Bree Serif', serif;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: #52200b;
   display: block;
   padding: 3px 22px;
   border-radius: 20px;
   text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
}
#home::before {
    content: "";
    position: absolute;
    background:url(../bg1.jpg)no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#home h1{
    color: #52200b;
    text-align: center;
}
#home p{
    color: #52200b;
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-size: 1.5rem;
}

#services{
    margin: 34px;
    display: flex;
}

.h-primary{
    font-size: 3.8rem;
   font-family: 'Bree Serif', serif; 
    padding: 5px;
}
.h-secondary{
    font-size: 2.8rem;
   font-family: 'Bree Serif', serif; 
    padding: 12px;
}
.food-ordering-box{
    margin: 50px;
    text-align: center;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size:1.5rem ;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
    /* margin-top: 60px; */
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;

}
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: #f4f1ef;
}

#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family: 'Bree Serif', serif; 

}

/* Client side */
#client-section{
    height: 344px;
    margin-top: 5px;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg1.jpg');
    height: 50%;
    width: 100%;
    z-index: -1;
    opacity: .4;
}
.client-item{
    padding: 34px;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 124px;
    border-radius: 50%;

}

/* Contact contact */
#contact{
    position: relative;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;  
}
#contact-box label{
    font-size: 1.3rem;  
font-family: 'Bree Serif', serif;

}


#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact-form.jpg') no-repeat center center/cover;
}